# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media/

# Virtualenv
venv/
env/

# Python
*.py[cod]
*$py.class

# Packaging
*.egg-info/
dist/
build/

# IDEs
.idea/
.vscode/

# Other
.DS_Store
