<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://i.ytimg.com/vi/Yl5BtNX7XtY/maxresdefault.jpg" alt="temp">
    </div>
        <div class="recipe-title-container">
          <h2 class="recipe-title">Celtinha rebaixado</h2>
        </div>

        <div class="recipe-author">
          
          <span class="recipe-author-item">
              <i class="fas fa-user"></i>
              João da Silva
          </span>
          
          <span class="recipe-author-item">
              <i class="fas fa-calendar-alt"></i>
              16/10/2021 às 11:21
          </span>

          <span class="recipe-author-item">
              <a href="/recipes/category/cafe-da-manha/">
                  <i class="fas fa-layer-group"></i>  
                  <span>Hatch</span>
              </a>

          </span>
      </div>
      
      <div class="recipe-content">
        <p>Documento revisado <br>Pegar e andar <br> Dono particular <br> **Nunca batido**</p>
      </div> 
      <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fa-solid fa-car-side"></i> Ano</h3>
            <div class="recipe-meta-text">
                2006
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fa-solid fa-gauge-high"></i> Quilometragem</h3>
            <div class="recipe-meta-text">
                150.000 km
            </div>
        </div>
    </div>

    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="/vehicle/3/">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
      

  </div>
  